body{
    height: 100vh !important;
    background: linear-gradient(36deg, rgba(59,78,91,1) 11%, rgba(23,140,124,1) 23%, rgba(90,118,137,1) 47%, rgba(135,104,146,1) 98%) !important;
    color: #eeeeee !important;
    text-align: center;
    overflow: auto;
}

#listContainer {
    max-width: 35rem;
     margin: auto;
  }

h1{
    color: #eeeeee;
    font-size: 300%;
}

